body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1224px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px 46px;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
}
